:root {
  /* this affect scrollbar color on macOS */
  color-scheme: dark;
}
.app {
  height: 100%;
  display: grid;
  grid-template-rows: 30px auto;
  grid-template-areas: "filter" "table";
}

.app:has(section.detail) {
  grid-template-columns: auto 1fr;
  grid-template-areas: "filter filter" "table detail";
}

.app section {
  overflow: auto;
}

.app section.table-filter {
  border-bottom: solid 1px var(--border-color);
  display: flex;
  grid-area: filter;
  align-items: center;
  gap: 12px;
  padding-left: 6px;
  background-color: var(--background-color-content);
}

.table-filter input[type="search"] {
  color: var(--text-color);
  position: relative;
  padding-left: 18px;
  border: solid 1px var(--border-color);
  border-radius: 3px;
  height: 20px;
  width: 150px;
  outline: none;
  background: url("../images/FilterFieldGlyph.svg") no-repeat scroll 3px 3px;
  background-size: 12px;
}

.table-filter-select {
  position: relative;
}

.table-filter-select:last-child {
  margin-left: auto;
  margin-right: 8px;
}

.table-filter-select:hover > div {
  background-color: var(--selected-background-color);
}

.table-filter-select > div:after {
  content: url("../images/UpDownArrows.svg");
  position: absolute;
  top: 2px;
  right: 4px;
  width: 6px;
}

.table-filter-select > div {
  pointer-events: none;
  background-color: var(--background-color-content);
  position: absolute;
  left: -2px;
  top: 6px;
  border-radius: 2px;
  padding: 2px 4px;
  padding-right: 16px;
  white-space: nowrap;
}

.table-filter-select > select {
  border: none;
  outline: none;
  appearance: none;
  background: none;
  width: fit-content;
  height: 29px;
}

.app section.table {
  grid-area: table;
}

.app section.detail {
  flex: auto;
  background-color: rgb(43, 43, 43);
  border-left: solid 1px var(--border-color);
  display: flex;
  flex-flow: column;
  grid-area: detail;
}

.initial-container > section {
  pointer-events: none;
}

.drop-file-container.drop-file-container--hover:after {
  content: "";
  border: dashed 6px white;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
}

.initial-dialog-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(2px);
  z-index: 1;
}

.initial-dialog-container .error {
  color: red;
  margin-bottom: 4px;
  padding: 4px;
}

.initial-dialog {
  display: flex;
  flex-flow: column;
  background: var(--background-color-content);
  border-radius: 10px;
  padding: 20px;
  min-width: 460px;
  color: var(--text-color-secondary);
  box-shadow: 0px 0px 4px 0px var(--background-color-content);
}
.initial-dialog h3 {
  margin: 0;
}
.initial-dialog ul {
  display: flex;
  flex-flow: column;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.initial-dialog li {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.initial-dialog .actions {
  display: flex;
  margin-bottom: 10px;
  gap: 8px;
}

.initial-dialog .actions .version {
  margin-left: auto;
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.initial-dialog .actions button:not(:last-child) {
  margin-right: 8px;
  padding-right: 8px;
  border-right: solid 1px var(--border-color);
}

.initial-dialog button {
  color: var(--text-color-secondary);
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  padding: 0;
}

.initial-dialog button:hover {
  color: var(--text-color);
}

.initial-dialog .bar {
  border-bottom: solid 1px currentColor;
  opacity: 0.5;
}

.initial-dialog ul button {
  margin-right: auto;
}

.initial-dialog .close {
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin-right: initial;
}

.initial-dialog .close:hover {
  text-decoration: none;
  color: var(--text-color);
}

.initial-dialog.waiting {
  display: flex;
  gap: 4px;
  flex-flow: row;
}

select > option,
optgroup > option,
optgroup {
  background-color: var(--background-color-content);
}
