.detail-header {
  height: 30px;
  border-bottom: solid 1px var(--border-color);
  background-color: var(--background-color);
  display: flex;
  width: 100%;
  align-items: center;
  flex: none;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.detail-header .select {
  margin-left: auto;
  margin-right: 10px;
}

.detail-header-tabs {
  display: flex;
  gap: 6px;
  margin-left: 8px;
}

.detail-header-tabs button {
  background: none;
  border: none;
  color: var(--text-color);
}

.detail-header-tabs button.selected {
  color: var(--glyph-color-active);
}

.detail-close {
  height: 16px;
  width: 16px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-background-color);
  border-radius: 2px;
  border: none;
}

.detail-close .icon {
  opacity: 0.6;
}

.detail-close:hover .icon {
  opacity: 1;
}

.detail-close:hover {
  background-color: var(--button-background-color-hover);
}

.detail-close:active {
  background-color: var(--button-background-color-pressed);
}

.detail-close:disabled {
  background-color: var(--button-background-color-inactive);
}

.detail-body {
  flex: auto;
  overflow: auto;
}

.detail-body.audio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-body-empty {
  padding-top: 12px;
  padding-left: 12px;
}

.detail-body-headers-container {
  padding: 12px;
}

.detail-body h3 {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 10;
}
.detail-body h3:first-child {
  margin-top: 0;
}
.detail-body-headers {
  border-left: solid 2px var(--color);
  padding-left: 8px;
  margin-left: 10px;
}

.detail-body-header-item {
  line-height: 20px;
  display: flex;
  gap: 5px;
  align-items: baseline;
}
.detail-body-header-key {
  font-weight: bold;
  flex: none;
  text-transform: capitalize;
}
.detail-body-header-value {
  flex: auto;
  overflow: auto;
  overflow-wrap: anywhere;
  word-break: break-all;
  line-height: 1.3;
}

.detail-body-header-token-value {
  padding-left: 90px;
}

code-editor.detail-body {
  padding: 0;
}

.agent-console-snapshot-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 0 20px;
}

.agent-console-snapshot-container agent-console-snapshot {
  flex: auto;
}
.agent-console-snapshot-container agent-console-snapshot-player {
  flex: none;
  height: 30px;
  margin: 0;
  display: flex;
  gap: 4px;
  align-items: center;
}

.agent-console-snapshot-href {
  margin-bottom: 4px;
  margin-top: 10px;
  opacity: 0.5;
}

agent-console-snapshot-player {
  height: 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

iframe.preview {
  border: none;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  background-color: white;
  border-radius: 4px;
}

img.preview-image {
  max-width: 500px;
  max-height: 500px;
  margin: auto;
}

iframe.preview-svg {
  border: none;
  margin: auto;
  width: 500px;
  height: 500px;
}

.quick-preview-container {
  position: absolute;
  overflow: auto;
  width: 1000px;
  height: 700px;
  pointer-events: none;
  outline: solid 10px var(--border-color);
  z-index: 1;
  border-radius: 20px;
  bottom: 32px;
  visibility: visible;
}

.quick-preview-container.delay-hide {
  animation: 1s delayHide;
  animation-fill-mode: forwards;
}

@keyframes delayHide {
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.quick-preview-container.align-left {
  transform-origin: top left;
  transform: scale(0.2) translateY(-50%);
}
.quick-preview-container.align-bottom {
  transform: scale(0.2) translateX(-50%);
  transform-origin: bottom left;
}

.quick-preview-container > * {
  height: 100%;
  width: 100%;
}

.inline-json-tree {
  display: block;
}
