.table {
    color: var(--text-color);
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    position: relative;
}

section.table {
    overflow-y: auto;
    overflow-x: hidden;
}

.table-header {
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px var(--border-color);
    box-sizing: border-box;
    background-color: var(--background-color);
    display: flex;
    width: 100%;
    flex: none;
}

.table-body {
    overflow-y: auto;
    overflow-x: hidden;
}
ol.table-body {
    margin: 0;
    padding: 0;
}

.table-body:focus-visible {
    outline: none;
}

.table-header-cell {
    padding: 0 6px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    text-align: left;
    font-weight: normal;
    min-width: 80px;
    background-color: var(--background-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    flex: none;
}

.table-header-cell.table-header-cell-method,
.table-header-cell.table-header-cell-status {
    min-width: 50px;
}

.table-header-cell.sorted {
    font-weight: var(--sorted-header-font-weight);
}

.table-header-cell .icon {
    margin-left: auto;
}

.table--selected .table-header-cell::after {
    display: none;
}

.table-header-cell resize-divider {
    position: absolute;
    right: 0;
    top: 4px;
    height: calc(100% - 8px);
    width: 10px;
    cursor: col-resize;
    border-right: solid 1px var(--border-color);
    box-sizing: border-box;
}

.table-header-cell:active {
    background-color: var(--background-color-pressed);
}

.table-body-row {
    height: 20px;
    width: 100%;
    display: flex;
}

.table-body-row:nth-child(odd).selected,
.table-body-row:nth-child(even).selected {
    background-color: var(--selected-background-color);
    color: var(--selected-foreground-color);
}

.table-body-row:nth-child(odd) {
    background-color: var(--odd-zebra-stripe-row-background-color);
}

.table-body-row:nth-child(even) {
    background-color: var(--even-zebra-stripe-row-background-color);
}

.table-body-cell {
    vertical-align: top;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    white-space: nowrap;
    overflow: hidden;
    font-family: -webkit-system-font, sans-serif;
    font-variant-numeric: tabular-nums;
    text-overflow: ellipsis;
    box-sizing: border-box;
    flex: none;
    font-size: 11px;
    cursor: default;
}

.table-body-cell.table-body-cell-name {
    cursor: pointer;
}

.table-body-cell.table-body-cell-name .icon {
    font-size: 14px;
    margin-right: 4px;
}

.table-body-cell-waterfall-item {
    background-color: skyblue;
    border-radius: 1px;
    height: 12px;
    margin-top: 4px;
    min-width: 1px;
}

.table-body-cell-waterfall-item:hover {
    background-color: lightblue;
}

.waterfall-guideline-container {
    position: absolute;
    height: calc(100% - 30px);
    /*background: linear-gradient(to right, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 100%);*/
    background: linear-gradient(to right, rgba(255, 255, 255, .1) 1px, transparent 1px);
    background-size: 100px;
    width: 20000px;
    pointer-events: none;
}

.waterfall-guideline {
    position: absolute;
    height: 100%;
    border-left: solid 1px rgba(255, 255, 255, .1);
    pointer-events: none;
}

.table-header-cell-waterfall {
    width: auto;
    flex-grow: 1;
    padding: 0;
}

.table-header-cell-waterfall .icon {
    position: absolute;
    right: 10px;
    top: 9px;
    z-index: 1;
}

.table-header-cell-waterfall resize-divider {
    display: none;
}

.waterfall-scale-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.waterfall-scale {
    display: flex;
    width: 100px;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    color: var(--text-color-secondary);
    align-items: flex-end;
    gap: 4px;
}

.waterfall-scale label {
    font-size: smaller;
    line-height: 20px;
}

.triangle-scale {
    background-image: linear-gradient(var(--border-color), rgba(255, 255, 255, 1));
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    width: 1.2px;
    height: 24px;
    flex: none;
    transform: translate(-50%, 0);
}